<apex:page id="page1" sidebar="false" standardController="Country__c" extensions="ctrlcommunityredirect" tabstyle="Concept_Note_Home__tab" action="{!pageRedirect}">
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Page
  <!-- End Default Content REMOVE THIS -->
</apex:page>