<apex:page standardController="Performance_Framework__c">
<apex:includeScript value="/soap/ajax/29.0/connection.js"/>
 <apex:includeScript value="/soap/ajax/29.0/apex.js"/>

<script>
    
    window.onload= loadValues();
    function loadValues(){
     sforce.connection.sessionId = "{!$Api.Session_ID}";  
     
    var PerStatus = new sforce.SObject("Performance_Framework__c"); 
    PerStatus.id= "{!Performance_Framework__c.Id}"; 
    
    var recType = sforce.connection.query("SELECT name,Id from RecordType where name = 'Rejected by MEPH' AND SobjectType = 'Performance_Framework__c'"); 
    
    var recTyperecords = recType.getArray("records"); 
    
    PerStatus.RecordTypeId = recTyperecords[0].Id; 
    PerStatus.PF_Status__c = "{!$Label.IP_Return_back_to_PR}"; 
    PerStatus.Performance_Framework_Status__c = "{!$Label.IP_Return_back_to_PR}";
    PerStatus.Last_Submitted_By__c = "{!$User.Id}"; 
    PerStatus.Last_Submitted_Dummy__c = "{!$User.Id}"; 
    
    //var cnf = confirm("{!$Label.Returned_Back_by_MEPH}");
    
    //if(cnf==true)
    //{
    var t=sforce.connection.update([PerStatus]);
    var url ='/'+'{!Performance_Framework__c.Id}'; 
    sforce.one.navigateToURL(url);
    //location.reload(true); //reload screen to reflect changes
    //}
    }
     </script>
</apex:page>