<apex:page showchat="true">
<style type="text/css">
.classname {
    -moz-box-shadow:inset 0px 0px 13px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 13px 0px #ffffff;
    box-shadow:inset 0px 0px 13px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:3px solid #1564ed;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.classname:active {
    position:relative;
    top:1px;
}
</style>
<apex:sectionHeader title="Training Center"/>
<br/>
<apex:pageblock title="How-to videos">
<table width="100%">

      <td>
           <apex:outputpanel rendered="{! IF($Profile.Name =='Finance Officer'  || $Profile.Name =='M&E Officer'   || $Profile.Name =='PSM Officer '   || $Profile.Name =='Legal Officer' || $Profile.Name =='LFA Coordination' || $Profile.Name =='System Administrator',true, false)}">

            <p><b>Intro: Overall PET Flow </b></p> 
        <iframe width="420" height="236.25" src="//www.youtube.com/embed/GByFtmnn_Q8" frameborder="0" allowfullscreen="true"></iframe>
      </apex:outputpanel>
      </td>

 

      <td>
     <apex:outputpanel rendered="{! IF($Profile.Name =='Finance Officer'  || $Profile.Name =='M&E Officer'   || $Profile.Name =='PSM Officer '   || $Profile.Name =='Legal Officer' || $Profile.Name =='LFA Coordination' || $Profile.Name =='System Administrator',true, false)}">
           <p>
<b>PET Completion: Technical Team </b></p> 
              <iframe width="420" height="236.25" src="//www.youtube.com/embed/kQMuEIBuibc" frameborder="0" allowfullscreen="true"></iframe>
</apex:outputpanel>
</td>

  <td>
     <apex:outputpanel rendered="{! IF($Profile.Name =='LFA Portal User'  || $Profile.Name =='System Administrator'   ,true, false)}">
           <p>
<b>PET Completion: LFA </b></p> 
              <iframe width="420" height="236.25" src="//www.youtube.com/embed/VPyqJzbmNCg" frameborder="0" allowfullscreen="true"></iframe>
</apex:outputpanel>
</td>



<tr>
</tr>
     <td>
     <apex:outputpanel rendered="{! IF($Profile.Name =='FPM/PO' || $Profile.Name =='Country Team'  || $Profile.Name =='FPM' || $Profile.Name =='PO'  || $Profile.Name =='System Administrator'  || $Profile.Name =='LFA Coordination',  true, false)}">
     <p>
     <b>PET Creation: FPM/PO</b></p> 
      
              <iframe width="420" height="236.25"  src="//www.youtube.com/embed/ME5YbgpHz_E" frameborder="0" allowfullscreen="true"></iframe>
     </apex:outputpanel>
     </td>

       <td>
        <apex:outputpanel rendered="{! IF($Profile.Name =='FPM/PO' || $Profile.Name =='Country Team'  || $Profile.Name =='FPM' || $Profile.Name =='PO'  || $Profile.Name =='System Administrator'  || $Profile.Name =='LFA Coordination',true, false)}">
           <p>
<b>PET Completion: Preparation to Send to LFA</b></p> 
              <iframe width="420" height="236.25" src="//www.youtube.com/embed/i_dHZ72me3M" frameborder="0" allowfullscreen="true"></iframe>
</apex:outputpanel>
</td>
 
      
   <td>
    <apex:outputpanel rendered="{! IF($Profile.Name =='FPM/PO' || $Profile.Name =='Country Team'  || $Profile.Name =='FPM' || $Profile.Name =='PO'  || $Profile.Name =='System Administrator'  || $Profile.Name =='LFA Coordination',true, false)}">
          <p>
<b>PET Completion: Finalization</b></p> 
              <iframe width="420" height="236.25" src="//www.youtube.com/embed/YV8vyCB_zcs" frameborder="0" allowfullscreen="true"></iframe>
</apex:outputpanel>
</td>

 
 
      
      
</table>
</apex:pageblock>
</apex:page>