<apex:page id="page" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" sidebar="false" standardController="LFA_Work_Plan__c"  renderAs="pdf" extensions="ctrlWPNegotiation">
    <head>
    <style type="text/css">
    @page {
        //  size: A4 portrait;
          size:A4 landscape ;
          
      }     
           
        body .bRelatedList .pbBody table.list, body .apexp .pbBody table.list {
            border: 0px solid #000000;
            padding:0px;           
        }
        .headerRowUpperCE{
            border:1px solid #E0E3E5 !important;
            font-weight:bold;
            background-color:#7f7f7f !important;
            color:white !important;
        }
        .headerRowUpper{
            border:1px solid #E0E3E5 !important;
            font-weight:bold;
            background-color:#7f7f7f !important;
            color:white !important;
        }        
        .headerRowLower{
            border:1px solid #E0E3E5 !important;
            font-weight:bold;
            background-color:#0066BB !important;
            color:white !important;
            white-space: normal !important;
        }
        .headerRowResource{
            border:1px solid #E0E3E5 !important;
            font-weight:bold;
            background-color:orange !important;
        }
        .totalRow{
            border-top:1px;
            font-weight:bold !important;
        }
        .totalRowMinMaxAvg{
            border-top:1px;
            text-align:right;
            padding-right:10px;
        }
        .noBorder ,table.noBorder tr td,table.noBorder td{
            border: 0px !important;
            padding: 0px;
        }
        .headerColor{
            background-color:#4f81bd !important;
            color:white !important;
            font-weight:bold;
        }
        .headerColorSearchGrid{
            background-color:#4f81bd !important;
            background-color:#558ed5 !important;
            color:white !important;
            font-weight:bold;
            white-space: pre-wrap !important;
        }
        .resourcetTable{
            vertical-align:top;
        }
        .blankCell{
            width:5px;
        }
        .Image{
            cursor:pointer;
            padding-left:8px;
            height:13px;
            width:13px;
            vertical-align:middle;
        }
        .ImageResource{
            cursor:pointer;
            padding-bottom: 5px;
            padding-left: 4px;
            height:13px;
            width:13px;
        }
        .ImageSearch{
            cursor:pointer;
            float:left;
            height:13px;
            width:13px;
            vertical-align:middle;
        }
        .HeaderFreez{  
            position:relative ;   
            top:expression(this.offsetParent.scrollTop);  
            z-index: 10;  
        }
        .box_rotate {          
            -moz-transform: rotate(90deg);  /* FF3.5+ */
            -o-transform: rotate(90deg);  /* Opera 10.5 */
            -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1.083);  /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.083)"; /* IE8 */
        } 
        .box_CT {
            margin-left: -63px;
            margin-right: -64px;
            background-color: #7f7f7f;
            color:white !important;
            margin-top: 63px;
            padding: 5px;
            white-space: nowrap;
            width: 140px;
        }
        .box_TGF{
            margin-left: -63px;
            margin-right: -64px;
            background-color: #7f7f7f;
            color:white !important;
            margin-top: 63px;
            padding: 5px;
            white-space: nowrap;
            width: 140px;
        }

    </style>
    </head>
    <img src="{!$Resource.TGF_Logo}" align="right"/>
    <h2>{!LFA_Work_Plan__c.Name}</h2> 
            <table style="border-collapse:collapse;">
                <tr>                    
                    <td style="width:100px;font-size:11px">
                        <b>Budgeted Labor :</b> 
                    </td>
                    <td style="text-align:left;font-size:11px">
                        <apex:outputField value="{!lstWorkPlanToUpdate[0].Budgeted_Labor__C}"/>
                    </td>
                </tr>
                <tr>                    
                    <td style="width:100px;font-size:11px;border-bottom:1px solid">
                        <b>Budgeted ODC :</b> 
                    </td>
                    <td style="text-align:left;font-size:11px;border-bottom:1px solid">
                        <apex:outputField value="{!lstWorkPlanToUpdate[0].Budgeted_ODC__C}"/>
                    </td>
                </tr>
                <tr>                    
                    <td style="width:100px;font-size:11px">
                        <b>Total Budget :</b> 
                    </td>
                    <td style="text-align:left;font-size:11px">
                        <apex:outputField value="{!lstWorkPlanToUpdate[0].Total_Budget__C}"/>
                    </td>
                </tr>                
            </table>
            <table width="100%" cellspacing="0" cellpadding="5" border="0"><tr><td valign="top" style="border-collapse:collapse">
            <table width="100%" id="ServiceTable" cellspacing="0" cellpadding="5" border="0" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="3" style="border:1px solid #838282;text-align:center;font-size:11px;background-color:#E5E4E2;">Risks</th>
                                                <th style="border:1px solid #838282;text-align:center;font-size:11px;background-color:#E5E4E2;">Service Status</th>
                        <th colspan="2" style="border:1px solid #838282;text-align:center;font-size:11px;background-color:#E5E4E2;">Actual</th>
                        <th colspan="2" style="border:1px solid #838282;text-align:center;font-size:11px;background-color:#E5E4E2;">Budgeted</th>
                        <th colspan="2" style="border:1px solid #838282;text-align:center;font-size:11px;background-color:#E5E4E2;">Approved</th>


                    </tr>  
                    <tr>
                        <th width="10%" style="border-left:1px solid #838282;border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">Service</th>
                        <th width="9%" style="border-left:1px solid #838282;border-right:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">Grant</th>
                        <th width="5%" style="border-bottom:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;"><apex:outputtext value="Financial & Fiduciary" style="font-size:11px;font-weight:bold"/></th>
                        <th width="5%" style="border-bottom:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;"><apex:outputtext value="Programmatic & Performance" style="font-size:11px;font-weight:bold"/></th>
                        <th width="5%" style="border-bottom:1px solid #838282;border-right:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;"><apex:outputtext value="Health Services & Products" style="font-size:11px;font-weight:bold"/></th>                        
                        
                        <th width="8%" style="border-bottom:1px solid #838282;border-right:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px"></th>
                        
                        <th width="8%" style="border-bottom:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px"> LOE</th>
                        <th width="8%" style="border-bottom:1px solid #838282;border-right:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">Cost</th>
                        
                        <th width="8%" style="border-bottom:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px"> LOE</th>
                        <th width="8%" style="border-bottom:1px solid #838282;border-right:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">Cost</th>

                        <th width="8%" style="border-bottom:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px"> LOE</th>
                        <th width="8%" style="border-bottom:1px solid #838282;border-right:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">Cost</th>
                        
                        
    
                    </tr>  
                    <tr>
                        <th ></th>
                        <th style="font-weight:bold;font-size:11px;">Role</th>
                        <th colspan="3"  style="font-weight:bold;font-size:11px;">Resource Name</th>
                        <th  style="font-weight:bold;font-size:11px;">Rate</th>
                        <th colspan="6"></th>
                    </tr>
                </thead>
                <apex:variable var="CountST" value="{!0}" />                
                <apex:repeat id="repeatUpper" value="{!lstwrapServicesType}" var="wrapST">
                    <tr style="page-break-inside:avoid">
                        <th colspan="5" style="background-color:orange;font-size:11px;border-left:1px solid #838282;border-bottom:1px solid #838282">
                            <apex:outputText value="{!wrapST.ServiceType}"/>
                        </th>
                        
                        <th style="background-color:orange;font-size:11px;border-bottom:1px solid #838282">
                            
                        </th>
                        
                           <th style="background-color:orange;font-size:11px;border-bottom:1px solid #838282">
                            <apex:outputText value="{!wrapST.TotalCurrentLOE}" rendered="{!if(wrapST.TotalCurrentLOE!= null && wrapST.TotalCurrentLOE!= 0,true,false)}"></apex:outputText>
                        </th>
                        <th style="background-color:orange;font-size:11px;border-right:1px solid #838282;border-bottom:1px solid #838282">
                            <apex:outputText value="USD {0, number,###,###,##0}" rendered="{!if(wrapST.TotalCurrentCost!= null && wrapST.TotalCurrentCost!= 0,true,false)}">
                                <apex:param value="{!wrapST.TotalCurrentCost}"/>
                            </apex:outputText>
                        </th>
                        
                        <th style="background-color:orange;font-size:11px;border-bottom:1px solid #838282">
                            <apex:outputText value="{!wrapST.TotalLFAProposedLOE}" rendered="{!if(wrapST.TotalLFAProposedLOE!= null && wrapST.TotalLFAProposedLOE!= 0,true,false)}"></apex:outputText>
                        </th>
                        <th style="background-color:orange;font-size:11px;border-right:1px solid #838282;border-bottom:1px solid #838282">
                            <apex:outputText value="USD {0, number,###,###,##0}" rendered="{!if(wrapST.TotalLFAProposedCost!= null && wrapST.TotalLFAProposedCost!= 0,true,false)}">
                                <apex:param value="{!wrapST.TotalLFAProposedCost}"/>
                            </apex:outputText>
                        </th>
                        
                        <th style="background-color:orange;font-size:11px;border-bottom:1px solid #838282">
                            <apex:outputText value="{!wrapST.TotalPOLOE}" rendered="{!if(wrapST.TotalPOLOE != null && wrapST.TotalPOLOE != 0,true,false)}"></apex:outputText>
                        </th>
                        <th style="background-color:orange;font-size:11px;border-right:1px solid #838282;border-bottom:1px solid #838282">
                            <apex:outputText value="USD {0, number,###,###,##0}" rendered="{!if(wrapST.TotalPOCost != null && wrapST.TotalPOCost != 0,true,false)}">
                                <apex:param value="{!wrapST.TotalPOCost}"/>
                            </apex:outputText>
                        </th>
                       
                     
            
                    </tr>
                    <tbody id="inlinetablesec{!CountST}">
                        <apex:variable var="Count" value="{!0}" />
                        <apex:repeat id="repeat" value="{!wrapST.lstwrapServices}" var="Service">   
                            <tr style="page-break-inside:avoid">
                                <td style="border-top:1px solid #838282;border-bottom:1px solid #838282;border-left:1px solid #838282;background-color:#E5E4E2;font-size:11px">
                                    <apex:outputField value="{!Service.objService.Name}" style="float:left;font-size:11px"/>
                                    <apex:outputtext value=": {!Service.objService.Other_Sub_Category__c}" rendered="{!if(Service.objService.Name == 'Other LFA Services','true',if(Service.objService.Name == 'Other Procurement Related Services','true','false'))}"/>                                                                                                                                                                   
                                </td>
                                <td style="border-top:1px solid #838282;border-bottom:1px solid #838282;border-left:1px solid #838282;border-right:1px solid #838282;background-color:#E5E4E2;font-size:11px">
                                    <apex:outputtext value="{!Service.objService.Grant__r.Name}"/>                                
                                    <apex:outputtext value="Multiple Grants" rendered="{!if(Service.objService.id != null && Service.objService.Grant__c == null,true,false)}"/>
                                </td>                                
                                <td style="font-size:11px;border-top:1px solid #838282;border-bottom:1px solid #838282;background-color:{!if(Service.objService.Grant__r.Financial_and_Fiduciary_Risks__c == 'High','#F75D59',if(Service.objService.Grant__r.Financial_and_Fiduciary_Risks__c == 'Medium','yellow',if(Service.objService.Grant__r.Financial_and_Fiduciary_Risks__c == 'Low','#C3FDB8','#E5E4E2')))}">
                                    <apex:outputfield value="{!Service.objService.Grant__r.Financial_and_Fiduciary_Risks__c}" rendered="{!if(Service.objService.id != null,true,false)}"/>
                                </td>
                                <td style="border-top:1px solid #838282;border-bottom:1px solid #838282;font-size:11px;background-color:{!if(Service.objService.Grant__r.Programmatic_and_Performance_Risks__c == 'High','#F75D59',if(Service.objService.Grant__r.Programmatic_and_Performance_Risks__c == 'Medium','yellow',if(Service.objService.Grant__r.Programmatic_and_Performance_Risks__c == 'Low','#C3FDB8','#E5E4E2')))}">
                                    <apex:outputField value="{!Service.objService.Grant__r.Programmatic_and_Performance_Risks__c}" rendered="{!if(Service.objService.id != null,true,false)}"/>
                                </td>    
                                <td style="border-right:1px solid #838282;border-top:1px solid #838282;border-bottom:1px solid #838282;font-size:11px;background-color:{!if(Service.objService.Grant__r.Health_Services_and_Products_Risks__c == 'High','#F75D59',if(Service.objService.Grant__r.Health_Services_and_Products_Risks__c == 'Medium','yellow',if(Service.objService.Grant__r.Health_Services_and_Products_Risks__c == 'Low','#C3FDB8','#E5E4E2')))}">
                                    <apex:outputField value="{!Service.objService.Grant__r.Health_Services_and_Products_Risks__c}" rendered="{!if(Service.objService.id != null,true,false)}"/>
                                </td>
                                <td style="border-top:1px solid #838282;border-right:1px solid #838282;font-size:11px;background-color:#E5E4E2;border-bottom:1px solid #838282" >
                                    <apex:outputField value="{!Service.objService.Status__c}" rendered="{!if(Service.objService.id != null,true,false)}"/>
                                </td>
                                <!-- cost/LOE -->
                                
                                   <td style="border-top:1px solid #838282;background-color:#E5E4E2;font-size:11px;border-bottom:1px solid #838282;">
                                    <apex:outputField value="{!Service.objService.Actual_LOE__c}" rendered="{!if(Service.objService.id != null && Service.objService.Actual_LOE__c != 0,true,false)}"/>
                                </td>
                                <td style="border-top:1px solid #838282;border-right:1px solid #838282;font-size:11px;background-color:#E5E4E2;border-bottom:1px solid #838282" >
                                    <apex:outputField value="{!Service.objService.Actual_Cost__c}" rendered="{!if(Service.objService.id != null && Service.objService.Actual_Cost__c != 0,true,false)}"/>
                                </td>
                                
                                <td style="border-top:1px solid #838282;background-color:#E5E4E2;font-size:11px;border-bottom:1px solid #838282;">
                                    <apex:outputField value="{!Service.objService.LOE__c}" rendered="{!if(Service.objService.id != null && Service.objService.LOE__c != 0,true,false)}"/>
                                </td>
                                <td style="border-top:1px solid #838282;border-right:1px solid #838282;font-size:11px;background-color:#E5E4E2;border-bottom:1px solid #838282" >
                                    <apex:outputField value="{!Service.objService.Cost__c}" rendered="{!if(Service.objService.id != null && Service.objService.Cost__c != 0,true,false)}"/>
                                </td>
                                
                                
                                <td style="border-top:1px solid #838282;background-color:#E5E4E2;font-size:11px;border-bottom:1px solid #838282;">
                                    <apex:outputField value="{!Service.objService.PO_LOE__c}" rendered="{!if(Service.objService.id != null && Service.objService.PO_LOE__c != 0,true,false)}"/>
                                </td>
                                <td style="border-top:1px solid #838282;border-right:1px solid #838282;font-size:11px;background-color:#E5E4E2;border-bottom:1px solid #838282" >
                                    <apex:outputField value="{!Service.objService.PO_Cost__c}" rendered="{!if(Service.objService.id != null && Service.objService.PO_Cost__c != 0,true,false)}"/>
                                </td>
                             
                                       
                                                              
                            </tr>
                            <apex:repeat value="{!Service.lstwrapResource}" var="ServiceResource">
                                <tr id="inlinetablesecResource{!CountST}{!Count}" style="page-break-inside:avoid">
                                    <td style="border-left:1px solid #838282;"></td>
                                    <td style="border-bottom:1px solid #E0E3E5;border-right:1px solid #838282;font-size:11px;border-left:1px solid #838282">
                                        <apex:outputText value="{!ServiceResource.RoleName}" />
                                    </td>
                                    <td colspan="2" style="border-bottom:1px solid #E0E3E5;font-size:11px">
                                        <apex:outputText value="{!ServiceResource.ContactName}" />
                                    </td>
                                    <td style="border-bottom:1px solid #E0E3E5;border-right:1px solid #838282;font-size:11px">

                                    </td>
                                    <td style="border-bottom:1px solid #E0E3E5;border-right:1px solid #838282;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.Rate__c}" />
                                    </td>
                                       <td class="dataCell" style="border-bottom:1px solid #E0E3E5;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.Actual_LOE__c}"/>
                                    </td>                                    
                                    <td class="dataCell" style="border-bottom:1px solid #E0E3E5;border-right:1px solid #838282;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.Actual_Cost__c}"/>
                                    </td>
                                    <td class="dataCell" style="border-bottom:1px solid #E0E3E5;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.LOE__c}"/>
                                    </td>                                    
                                    <td class="dataCell" style="border-bottom:1px solid #E0E3E5;border-right:1px solid #838282;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.Cost__c}"/>
                                    </td>
                                    <td class="dataCell" style="border-bottom:1px solid #E0E3E5;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.PO_LOE__c}"/>
                                    </td>                                    
                                    <td class="dataCell" style="border-bottom:1px solid #E0E3E5;border-right:1px solid #838282;font-size:11px">
                                        <apex:outputField value="{!ServiceResource.objResource.PO_Cost__c}"/>
                                    </td>
                                 
                                </tr>
                            </apex:repeat>
                            <tr id="ResourceHeader{!CountST}{!Count}"> <!-- style="display:{!if(Service.blnExpandResourceSection == true,'','none')};">-->
                                <td style="border:none"></td>
                                <td class="headerRowResource" style="border:none;background-color:peachpuff !important;font-size:12px;" colspan="11">
                                    <b >Comments: </b> &nbsp;{!Service.objService.Comments__c}
                                </td>
                                <!--<td id="CTth" class="headerRowResource" />--> <!--style="display:{!if($Profile.Name != 'LFA',if(blnShowCTPlanned == true,'','none'),'none')};"></td>-->
                                <!--<td id="CTth" class="headerRowResource" />--> <!--style="display:{!if($Profile.Name != 'LFA',if(blnShowCTPlanned == true,'','none'),'none')};"></td>-->
                            </tr>
                            <apex:variable var="Count" value="{!Count+1}" />
                        </apex:repeat>
                    </tbody>
                    <apex:variable var="CountST" value="{!CountST+1}" />                    
                </apex:repeat>
                <tfoot>
                    <tr >
                         
                                 
                        <th colspan="5" style="border-top:1px solid #838282;"></th>
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="Total Labor"></apex:outputText>
                        </th>
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="{!CurrentLOE}" rendered="{!if(CurrentLOE!= 0,true,false)}"></apex:outputText>
                        </th>
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="USD {0, number,###,###,##0}" rendered="{!if(CurrentCost!= 0,true,false)}">
                                <apex:param value="{!CurrentCost}"/>
                            </apex:outputText>
                        </th>
                        
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="{!LFAProposedLOE}" rendered="{!if(LFAProposedLOE!= 0,true,false)}"></apex:outputText>
                        </th>
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="USD {0, number,###,###,##0}" rendered="{!if(LFAProposedCost!= 0,true,false)}">
                                <apex:param value="{!LFAProposedCost}"/>
                            </apex:outputText>
                        </th>
                         
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="{!POLOE}" rendered="{!if(POLOE != 0,true,false)}"></apex:outputText>
                        </th>
                        <th style="border-bottom:1px solid #838282;border-top:1px solid #838282;background-color:#0066BB;color:white;font-weight:bold;font-size:11px">
                            <apex:outputText value="USD {0, number,###,###,##0}" rendered="{!if(POCost != 0,true,false)}">
                                <apex:param value="{!POCost}"/>
                            </apex:outputText>
                        </th>
                        
                                                       
                    </tr>
                </tfoot>
            </table>
            </td>            
            </tr>          
         </table>
         <br/>
         <table width="100%" border="0"> 
         <tr>
             <td>
                 <span style="color:red">
                 Confidential
                 </span>
             </td>
             <td align="right">         
                 Generated {!NOW()}
             </td>
         </tr>
         </table>
</apex:page>